
 .background-game {
    -fx-background-image: url("pics/bg-game.jpg");
    -fx-background-size: 610px,600px;
 }

 .player-name {
    -fx-text-color: #62BCFA;
    -fx-font-family: sans-serif;
    -fx-font-weight: bolder;
    -fx-opacity: 0.9;
 }

 .btn-place {
    -fx-background-image: url("pics/btn-wood.png");
    -fx-text-fill: #c4a03e;
    -fx-font-size: 17px;
    -fx-font-family: sans-serif;
    -fx-font-weight: bolder;
    -fx-opacity: 0.9;
    -fx-background-size: 150px;
 }

  .btn-dir{
      -fx-background-image: url("pics/dirBtn-Block.png");
      -fx-text-color: #62BCFA;
      -fx-font-size: 15px;
      -fx-font-family: sans-serif;
      -fx-font-weight: bolder;
      -fx-opacity: 0.9;
  }

  .btn-save{
    -fx-background-image: url("pics/save.png");
    -fx-background-size: 20px,20px;
    -fx-opacity: 0.7;
  }

 .pane-normal {
    -fx-background-color: #62BCFA;
    -fx-background-radius: 1,1,1;
    -fx-opacity: 0.8;
 }

 .pane-hit{
    -fx-background-color: #C43235;
    -fx-background-radius: 5,5,4;
 }

 .pane-miss{
     -fx-background-color: #36403B;
     -fx-background-radius: 5,5,4;
 }

 .pane-blender{
     -fx-background-color: #36403B;
 }


